<section
    class="relative flex justify-center items-center w-full
    bg-linear-to-b from-[#0b0b0b] to-black py-6"
>
    <div
        class="relative flex flex-col sm:flex-row
items-center gap-4 sm:gap-6 px-4 sm:px-6 py-4
sm:py-5 rounded-2xl bg-linear-to-r from-[#1a1335] to-[#0b0b0b] text-white shadow-lg
border border-transparent max-w-4xl w-full mx-4 mt-6 sm:mx-0"
    >
        <img
            src="./icons/popcorn.svg"
            alt="Netflix Popcorn"
            class="w-16
    sm:w-20 h-auto drop-shadow-[0_0_12px_rgba(255,255,255,0.3)]"
        />
        <div class="flex flex-col text-center sm:text-left">
            <h3 class="text-base sm:text-lg font-semibold">
                Todo lo que te encanta de Netflix por $119.
            </h3>
            <p class="text-sm text-gray-300 mt-1">
                Aprovecha nuestra opción más accesible, el plan con anuncios.
            </p>
        </div>
        <button
            class="mt-3 sm:mt-0 sm:ml-auto bg-[#333547]
hover:bg-[#4a4c63] text-white font-semibold text-sm px-4
py-2 rounded-md transition-colors duration-200"
            >Más info</button
        >
    </div>
</section>
<div
    class="absolute top-0 left-0 w-full h-[3px]
bg-linear-to-r from-[#e50914] via-[#ff066] to-[#e50914]
rounded-full"
>
</div>
