<header class="absolute top-0 left-0 w-full z-50">

    <div class="flex justify-between items-center px-4
    py-4 sm:px8 md:px-16">
        <img src="./icons/netflix-logo.svg" alt="logo" 
        class="h-7 sm:h-8 md:h-9"/>
        <a 
        
        href="#"
        class="bg-[#e50914] text-white text-sm
        sm:text-base font-medium px-4 sm:px-6 py-2
        rounded hover:bg-[#f6121d] transition-colors
        duration-300"
        >Iniciar Sesión</a>
        
    </div>
</header>